@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}